<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title> The Library </title>
        <link rel="stylesheet" href="./csss/prontcss.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    </head>
    <body>
        <div class="container">
            <input type="checkbox" id="check">
            <header>
                <img src="./LOGO/Vector.png" class="logo" alt="Library Logo">
                <div class="navigation">
                    <a href="#container">HOME</a>
                    <a href="#header1">ABOUT</a>
                    <a href="#header2">DOWNLOAD</a>
                    <a href="/login">LOG IN</a>
                </div>
                 <label for="check">
                    <i class="fas fa-bars menu-btn"></i>
                    <i class="fas fa-times close-btn"></i>
                </label>
            </header>

            <div class="content-wrapper">
                <div class="text-box">
                    <p>Welcome to</p>
                    <h2>THE</h2>
                    <h1>LIBRARY</h1>
                    <h3>Discover and borrow from our extensive collection of books and more.</h3>
                </div>
            </div>
        </div>

       <div class="header1" id="header1">
                <h1>ABOUT</h1>
                <h3>Welcome to our Library Management System! With our user-friendly website,
                you can effortlessly browse through a wide collection of books available
                in our library. Not only that, but you can also conveniently borrow books,
                making the entire process of discovering and accessing your favorite reads
                a seamless and enjoyable experience. Happy reading!</h3>
        </div>

        <div class="header2" id="header2">
            <h1> DOWNLOAD </h1>
            <h2> LIBRARY APP </h2>
            <p> If you want to download the Library App, you can just
                click the the button below!. Thank you!.
            </p>
           <a href="./apk/lms.apk" download>
                <button class="download-btn">Download Mobile App</button>
            </a>
       </div>
    </body>


</html>