<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./csss/login.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Log in</title>
</head>

<body>
    <div class="container1">
            <!--------- PAGE HEADER S --------->
            <nav>
                <img src="./LOGO/Vector.png" class="logo">
                <ul>
                    <li><a href="/FRONT"> HOME </a></li>
                    <li><a href="/login"> LOG IN </a></li>
                </ul>
            </nav>
            <!--------- PAGE HEADER E --------->
            
            <!----- LOG IN FORM S ----->
            <div class="container">
                <form action="/login" method="post">
                    <h2> LOG IN </h2>
                    <div class="content">
                        <div class="input-box">
                            <label for="username"> Username </label>
                            <input type="text" placeholder="ENTER USERNAME" name="username" required>
                        </div>
                        <div class="input-box">
                            <label for="password"> Password </label>
                            <input type="password" placeholder="ENTER PASSWORD" name="password" required>
                        </div>

                    </div>

                    <div class="button-container">
                        <button type="submit">LOG IN</button>
                    </div>
                    <p>Don't have account yet? Signup<a href="/signup"> here</a></p>
                </form>
            </div>
            <!----- LOG IN FORM E ----->
    </div>
    
     <script>
    // Function to show the modal based on the error message received from the server
    function showErrorModal(errorMessage) {
        if (errorMessage === "Account Banned") {
            Swal.fire({
                icon: "error",
                title: "Account Banned",
                text: "If you think this is wrong, Contact Admin!",
            });
        } else if (errorMessage === "Unknown Account") {
            Swal.fire({
                icon: "error",
                title: "Unknown Account",
                text: "Incorrect Username or Password!",
            });
        }
    }

    // Function to be called onload to check conditions and show modals
    function checkAndShowModals() {
        // Assuming you have a variable like {{ errorMessage }} from your backend
        // that indicates the error condition
        var errorMessage = "{{ errorMessage }}";

        if (errorMessage) {
            showErrorModal(errorMessage);
        }
    }

    // Call the function when the document is fully loaded
    document.addEventListener("DOMContentLoaded", function () {
        checkAndShowModals();
    });
</script>

</body>
</html>